
<div class="content">
    <h1 style="text-align: center">LIST ORDER</h1>
    <table>
        <tr>
            <th>RESI</th>
            <th>NAMA PENGIRIM</th>
            <th>NAMA PENERIMA</th>
            <th>NO TELP PENGIRIM</th>
            <th>NO TELP PENERIMA</th>
            <th>ALAMAT PENERIMA</th>
            <th>BERAT BARANG</th>
            <th>TGL PENGIRIMAN</th>
            <th>HARGA TOTAL</th>
            <th>NIP</th>
            <th>ID KOTA</th>
            <th>ID STATUS</th>
            <th>ESTIMASI</th>
        </tr>
        {% for k in order2 %}
            <tr>
                {% for i in k %}
                <td>{{ i }}</td>
                {% endfor %}
                <form style="text-align: center"  method="post">
                </form>
            </tr>
        {% endfor %}
        <a href="/input/order">INPUT ORDER</a>
    </table>
</div>

<a href="/show">balik</a>