
<div class="content">
    <h1 style="text-align: center">LIST KOTA</h1>
    <table>
        <tr>
            <th>ID TIPE</th>
            <th>NAMA TIPE</th>
            <th>HARGA TIPE</th>
            <th>LAMA PENGIRIMAN</th>
            <th>BANYAK</th>
            <th>DETAILS</th>
        </tr>
        {% for k in range (0, tipe | length) %}
            <tr>
                <td>{{ tipe[k][0] }}</td>
                <td>{{ tipe[k][1] }}</td>
                <td>{{ tipe[k][2] }}</td>
                <td>{{ tipe[k][3] }} hari</td>
                <td>{{ banyakOrder[k] }}</td>
                <td>
                    <a href="/show/tipe/detail/{{ tipe[k][0] }}">SHOW</a>
                </td>
                <form style="text-align: center"  method="post">
                </form>
            </tr>
        {% endfor %}
    </table>
</div>

<a href="/show">balik</a>