<div class="content">
    <h1 style="text-align: center">detail kota</h1>
    <table>
    {% for j in range(0, kota | length) %}
        <tr>
        <th>
        {{judul[j]}}
        </th>
        <th>
        {{kota[j]}}
        </th>
        </tr>
    {% endfor %}
    <tr>
    <th>
    Banyak Order
    </th>
    <th>
    {{banyakOrder}}
    </th>
    </tr>
    </table>
</div>

<div class="form">
    <form action="/editKota/{{id}}" method="POST">
        <br>
        <br>
        <a>EDIT DATA</a>
        <br>
        <label>Harga kota baru: </label>
        <input type="text" name="hargabaru">
        <br>
        <input type="submit" value="ganti data">
    </form>
</div>

<a href="/show/kota">balik</a>