<div class="content">
    <h1 style="text-align: center">detail kurir</h1>
    <table>
    {% for j in range(0, kurir | length) %}
        <tr>
        <th>
        {{judul[j]}}
        </th>
        <th>
        {{kurir[j]}}
        </th>
        </tr>
    {% endfor %}
    <tr>
    <th>
    Banyak Order
    </th>
    <th>
    {{banyakOrder}}
    </th>
    </tr>
    </table>
</div>

<div class="form">
    <form action="/editKurir/{{id}}" method="POST">
        <br>
        <br>
        <a>EDIT DATA</a>
        <br
        <label>No. telp kurir baru: </label>
        <input type="text" name="nobaru">
        <br>
        <label>Alamat kurir baru: </label>
        <input type="text" name="addrbaru">
        <br>
        <input type="submit" value="ganti data">
    </form>
</div>

<a href="/show/kurir">balik</a>