<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kurir.css') }}">
    <title>Input Kota</title>
</head>
<body>
    <div class="header">
        <h1 class="logo"><a>JNY</a></h1>
      <ul class="main-nav">
              <li><a href="/menu">Home</a></li>
              <li><a href="/logoutbye">Logout</a></li>
      </ul>
    </div> 
    <div class="wrapper">
        <h1>INPUT KOTA</h1>
        <form method="post" action='/input/kota'>
            <input type="text" name="id_kota" placeholder="ID_Kota" required/>
            <br>
            <input type="text" name="namakota" placeholder="Nama Kota" required/>
            <br>
            <input type="number" name="hargakota" placeholder="Harga/kg" required/>
            <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <button type="submit" class="login-btn">Submit</button>
        </form>
    </div>
</body>
</html>