<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kurir.css') }}">
    <title>Input Kurir</title>
</head>
<body>
    <div class="header">
        <h1 class="logo"><a>JNY</a></h1>
      <ul class="main-nav">
              <li><a href="/menu">Home</a></li>
              <li><a href="/logoutbye">Logout</a></li>
      </ul>
    </div> 
    <div class="wrapper">
        <h1>INPUT KURIR</h1>
        <form method="post" action='/input/kurir'>
            <input type="text" name="nip" placeholder="NIP" required/>
            <br>
            <input type="text" name="nama" placeholder="Nama" required/>
            <br> <br> <br>
            <a>Tanggal Masuk</a>
            <br>
            <input type="date" name="tgl_masuk" required/>
            <br>
            <input type="text" name="alamat" placeholder="Alamat" required/>
            <br>
            <input type="number" name="notel" placeholder="No. Telepon" required/>
            <br>
            <label for="id_tipe">tipe :</label>

            <select name="id_tipe" id="id_tipe" required>
                {% for t in dataTipe %}
                <option value={{t[0]}}>{{t[1]}}</option>
                {% endfor %}
            </select>
            <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <button type="submit" class="login-btn">Submit</button>
        </form>
    </div>
</body>
</html>