<h1>BUAT INPUT BARANG</h1>

<form method="post" action="/input/order">
    <a>RESI : </a>
    <input type="text" name="resi" required/>
    <br>
    <a>Nama Pengirim : </a>
    <input type="text" name="namapengirim" required/>
    <br>
    <a>Nama Penerima : </a>
    <input type="text" name="namapenerima" required/>
    <br>
    <a>No Telp Pengirim : </a>
    <input type="text" name="notelppengirim" required/>
    <br>
    <a>No Telp Penerima : </a>
    <input type="text" name="notelppenerima" required/>
    <br>
    <a>Alamat Penerima : </a>
    <input type="text" name="alamatpenerima" required/>
    <br>
    <a>Berat Barang : </a>
    <input type="number" min="1" name="beratbarang" required/>
    <br>
    <a>Tanggal : </a>
    <input type="date" name="tgl" required/>
    <br>
    <a>Harga : </a>
    <input type="number" name="harga" required/>
    <br>
    <a>NIP : </a>
    <input type="text" name="nip" required/>
    <br>
    <a>ID KOTA : </a>
    <input type="text" name="id_kota" required/>
    <br>
    <a>ID STATUS : </a>
    <input type="text" name="id_status" required/>
    <br>
    <a>ESTIMASI : </a>
    <input type="date" name="estimasi" required/>
    <br>
    <input type="submit"/>
</form>