<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
    <title>About Us</title>
</head>
<body>
    <div class="header-bar">
        <h1 class="logo"><a>JNY</a></h1>
      <ul class="main-nav">
              <li><a href="/menu">Home</a></li>
              <li><a href="/logoutbye">Logout</a></li>
      </ul>
    </div> 
<div class="content">
    <div class="group">
        <div class="member">
            <div class="imge">
                <img src="/static/images/aul.png" alt="aul">
            </div>
            <h3>Aulia Rahman <br><br> 119140110</h3>
            <p class="job">Back End Developer</p>
            <p style="font-weight: 800;">Hi There! I am Aulia Rahman Zulfi (119140110), from Sumatera Institute of Technology.</p>
            <br> <br> <br> <br> <br> <br>
            <div >
                <a href="https://mobile.twitter.com/dragoncimol" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/auliarahmanz/" target="_blank">
                <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                </a>
            </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/images/saet.png" alt="andy">
            </div>
            <h3>Sayyid Haris <br><br>119140190</h3>
            <p class="job">BACK END DEVELOPER</p>
            <p style="font-weight: 800;"> Hi There! I am Sayyid Muhammah Umar Al Haris (119140190), from Sumatera Institute of Technology.</p>
                <br> <br> <br> <br> <br> 
                <div >
                    <a href="https://www.youtube.com/watch?v=QtBDL8EiNZo" target="_blank">
                        <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/cahyaandy_m/" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                    </a>
                </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/images/padil.png" alt="fadhil">
            </div>
            <h3>Fadhillah Azhar  <br><br>119140217</h3>
            <p class="job">Front End Developer</p>
            <p style="font-weight: 800;">Hi There! I am Fadhillah Azhar Alsani (119140217), from Sumatera Institute of Technology.</p>
                <br> <br> <br> <br> <br> <br>
                <div >
                    <a href="https://twitter.com/Fadhillah_Azhar" target="_blank">
                        <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/fadhilalsani/" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                    </a>
                </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/images/auau.png" alt="aul">
            </div>
            <h3>Auriga Farhan  <br><br> 119140153</h3>
            <p class="job">Front End Developer</p>
            <p style="font-weight: 800;">Hi There! I am Auriga Farhan Rizkiadhy (119140153), from Sumatera Institute of Technology.</p>
            <br> <br> <br> <br> <br>
            <div >
                <a href="https://mobile.twitter.com/dragoncimol" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/auliarahmanz/" target="_blank">
                <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                </a>
            </div>
        </div>
        <div class="member">
            <div class="imge">
                <img src="/static/images/simok.png" alt="aul">
            </div>
            <h3>Daffa Massimiliano <br><br> 119140139</h3>
            <p class="job">Project Investor</p>
            <p style="font-weight: 800;">Hi There! I am Muhammad Daffa Massimiliano (119140139), from Sumatera Institute of Technology.</p>
            <br> <br> <br> <br> <br> 
            <div >
                <a href="https://www.youtube.com/watch?v=QtBDL8EiNZo" target="_blank">
                    <img src="https://img.icons8.com/nolan/128/twitter.png" alt="twitter" height="50" width="50">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/auliarahmanz/" target="_blank">
                <img src="https://img.icons8.com/nolan/128/instagram-new.png" alt="instagram" height="50" width="50">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>