{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet" type="text/css">
<title>Menu</title>
{% endblock %} 

{% block body %}
<div class="header">
  <h1 class="logo"><a>JNY</a></h1>
<ul class="main-nav">
      <li><a href="/about">About Us</a></li>
      <li><a href="/logoutbye">Logout</a></li>
</ul>
</div> 

<div class="pricing">
  <div class="pricing-plan">
    <a class="text" href="show">
      <img class="image1" src="{{url_for('static', filename='images/kurir.jpg')}}"/>
    <li><a href="show">Lihat Data</a></li>
    </a>
  </div>

<div class="pricing-plan">
    <a class="text" href="/input/order">
      <img class="image1" src="{{url_for('static', filename='images/Order.jpg')}}"/> 
      <li><a class="text" href="/input/order">Input Order</a> </li>
    </a>
  </div>

</div>
{% endblock %}



<!-- 
<body>

<div class="header">
  <h1 class="logo"><a></a></h1>
  <ul class="main-nav"> 
    <li><a href="/logoutbye">LOG OUT</a></li>
  </ul>  
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <a href="show">LIHAT DATA</a>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="/input/order">INPUT ORDER</a>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

</div>

</body>
</html>
-->

<!-- 
<div class="content">
    <h1 style="text-align: center">TEST</h1>
    <a href="show">LIHAT DATA</a>
    <br>
    <a href="/input/order">INPUT ORDER</a>
    <br>
    <br>
    <a href="/logoutbye">LOG OUT</a>
    <br>
</div>
-->
